@model DXM.OEE.Linha;

@{
    ViewData["Title"] = "push";
}

<h2>@ViewData["Title"]</h2>

<p>registro: </p>
<hr />
<p> registro 1 == <strong>@Model.cont_in</strong></p>
<p> registro 2 == <strong>@Model.cont_out</strong></p>
<p> registro 3 == <strong>@Model.maq_sts</strong></p>
<p> registro 4 == <strong>@Model.h_ini</strong></p>
<p> registro 5 == <strong>@Model.h_fim</strong></p>

<hr />
<p> registro 51 ==<strong>@Model.oee</strong></p>
<p> registro 52 ==<strong>@Model.per</strong></p>
<p> registro 53 ==<strong>@Model.q</strong></p>
<p> registro 54 ==<strong>@Model.dis</strong></p>
<hr />

